
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #cfd9df, #e2ebf0);
  color: #333;
}

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "profile skills"
    "education languages"
    "contact experience"
    "footer footer";
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}
.profile-header {
  grid-area: header;
  grid-column: span 2;
  text-align: center;
  padding: 20px;
}

.profile-header img {
  width: 100px;
  height: 110px;
  border-radius: 50%;

}

.profile {
  grid-area: profile;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.skills {
  grid-area: skills;
  background: #2e6dd8;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.education {
  grid-area: education;
  background: #4a90e2;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.languages {
  grid-area: languages;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.contact {
  grid-area: contact;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.experience {
  grid-area: experience;
  background: #2660a4;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

footer {
  grid-area: footer;
  text-align: center;
  padding: 20px;
  font-size: 14px;
}
.social-icons{
width: 250px;
height: 100px;
margin-left: 550px;
align-items: center;
}
.fa-facebook{
  font-size: 30px;
  color: #2e6dd8;
  
}
.twitter{
  font-size: 30px;
  color:#2e6dd8;
}
.fa-facebook{
  font-size: 30px;
  color: #2e6dd8;
}
.fa-whatsapp{
  font-size: 30px;
  color:#2e6dd8;
}
.fa-instagram{
  font-size: 30px;
  color: #2e6dd8;
}
.fa-square-twitter{
  font-size: 30px;
  color: #2e6dd8;
}
